<div>
    <link href="./desktop1.css" rel="stylesheet" />
    <div>
      <div class="desktop1-desktop1">
        <img
          src="/playground_assets/rectangle22364-54rb-1100h.png"
          alt="Rectangle22364"
          class="desktop1-rectangle2"
        />
        <img
          src="/playground_assets/rectangle82554-n8jn-1000w.png"
          alt="Rectangle82554"
          class="desktop1-rectangle8"
        />
        <img
          src="/playground_assets/base122555-s12o.svg"
          alt="base122555"
          class="desktop1-base12"
        />
        <div class="desktop1-calendar">
          <img
            src="/playground_assets/base122263-xgbh.svg"
            alt="base122263"
            class="desktop1-base121"
          />
          <img
            src="/playground_assets/datecopy112263-77tm.svg"
            alt="datecopy112263"
            class="desktop1-datecopy11"
          />
          <img
            src="/playground_assets/datecopy1122263-3ft.svg"
            alt="datecopy1122263"
            class="desktop1-datecopy112"
          />
          <img
            src="/playground_assets/datecopy1132263-lmm8.svg"
            alt="datecopy1132263"
            class="desktop1-datecopy113"
          />
          <img
            src="/playground_assets/datecopy1142263-wftyd.svg"
            alt="datecopy1142263"
            class="desktop1-datecopy114"
          />
          <img
            src="/playground_assets/datecopy1152263-u0wf.svg"
            alt="datecopy1152263"
            class="desktop1-datecopy115"
          />
          <img
            src="/playground_assets/datecopy1162263-2coc.svg"
            alt="datecopy1162263"
            class="desktop1-datecopy116"
          />
          <img
            src="/playground_assets/datecopy1172263-q0e8.svg"
            alt="datecopy1172263"
            class="desktop1-datecopy117"
          />
          <img
            src="/playground_assets/datecopy1182263-qgh8.svg"
            alt="datecopy1182263"
            class="desktop1-datecopy118"
          />
          <img
            src="/playground_assets/datecopy1192263-clv.svg"
            alt="datecopy1192263"
            class="desktop1-datecopy119"
          />
          <img
            src="/playground_assets/datecopy11102263-y36n.svg"
            alt="datecopy11102263"
            class="desktop1-datecopy1110"
          />
          <img
            src="/playground_assets/datecopy11112263-ib4q.svg"
            alt="datecopy11112263"
            class="desktop1-datecopy1111"
          />
          <img
            src="/playground_assets/datecopy11122263-6at.svg"
            alt="datecopy11122263"
            class="desktop1-datecopy1112"
          />
          <img
            src="/playground_assets/datecopy11132263-hk8h.svg"
            alt="datecopy11132263"
            class="desktop1-datecopy1113"
          />
          <img
            src="/playground_assets/datecopy11142263-5w0e.svg"
            alt="datecopy11142263"
            class="desktop1-datecopy1114"
          />
          <img
            src="/playground_assets/datecopy11152263-07na.svg"
            alt="datecopy11152263"
            class="desktop1-datecopy1115"
          />
          <img
            src="/playground_assets/datecopy11162263-jc89.svg"
            alt="datecopy11162263"
            class="desktop1-datecopy1116"
          />
          <img
            src="/playground_assets/datecopy11172263-78ph.svg"
            alt="datecopy11172263"
            class="desktop1-datecopy1117"
          />
          <img
            src="/playground_assets/datecopy11182263-1jsi.svg"
            alt="datecopy11182263"
            class="desktop1-datecopy1118"
          />
          <img
            src="/playground_assets/datecopy11192263-dvek.svg"
            alt="datecopy11192263"
            class="desktop1-datecopy1119"
          />
          <img
            src="/playground_assets/datecopy11202263-uuep.svg"
            alt="datecopy11202263"
            class="desktop1-datecopy1120"
          />
          <img
            src="/playground_assets/datecopy11212263-kank.svg"
            alt="datecopy11212263"
            class="desktop1-datecopy1121"
          />
          <img
            src="/playground_assets/datecopy11222263-klve.svg"
            alt="datecopy11222263"
            class="desktop1-datecopy1122"
          />
          <img
            src="/playground_assets/datecopy11232263-bezg.svg"
            alt="datecopy11232263"
            class="desktop1-datecopy1123"
          />
          <img
            src="/playground_assets/datecopy11242263-eypg.svg"
            alt="datecopy11242263"
            class="desktop1-datecopy1124"
          />
          <img
            src="/playground_assets/datecopy11252263-co.svg"
            alt="datecopy11252263"
            class="desktop1-datecopy1125"
          />
          <img
            src="/playground_assets/datecopy11262263-c9h8.svg"
            alt="datecopy11262263"
            class="desktop1-datecopy1126"
          />
          <img
            src="/playground_assets/datecopy11272263-ypoi.svg"
            alt="datecopy11272263"
            class="desktop1-datecopy1127"
          />
          <img
            src="/playground_assets/datecopy11282263-i9q2.svg"
            alt="datecopy11282263"
            class="desktop1-datecopy1128"
          />
          <img
            src="/playground_assets/datecopy11292263-oy7xe.svg"
            alt="datecopy11292263"
            class="desktop1-datecopy1129"
          />
          <img
            src="/playground_assets/datecopy11302263-s7r.svg"
            alt="datecopy11302263"
            class="desktop1-datecopy1130"
          />
          <img
            src="/playground_assets/datecopy11312263-zfz.svg"
            alt="datecopy11312263"
            class="desktop1-datecopy1131"
          />
          <img
            src="/playground_assets/datecopy11322263-qyse.svg"
            alt="datecopy11322263"
            class="desktop1-datecopy1132"
          />
        </div>
        <span class="desktop1-text"><span>안녕하세요, {{ user.username }} 님!</span></span>
        <div class="desktop1-frame1982">
          <div class="desktop1-frame1981">
            <span class="desktop1-text02"><span>만남의 광장</span></span>
            <div class="desktop1-frame1980">
              <div class="desktop1-group6">
                <div class="desktop1-group3">
                  <img
                    src="/playground_assets/vector2454-lrki.svg"
                    alt="Vector2454"
                    class="desktop1-vector"
                  />
                  <img
                    src="/playground_assets/vector2454-a165.svg"
                    alt="Vector2454"
                    class="desktop1-vector1"
                  />
                </div>
                <img
                  src="/playground_assets/ellipse12454-jwr-200h.png"
                  alt="Ellipse12454"
                  class="desktop1-ellipse1"
                />
              </div>
              <div class="desktop1-group4">
                <img
                  src="/playground_assets/vector2454-deil.svg"
                  alt="Vector2454"
                  class="desktop1-vector2"
                />
                <img
                  src="/playground_assets/vector2454-2bmu.svg"
                  alt="Vector2454"
                  class="desktop1-vector3"
                />
              </div>
            </div>
          </div>
          <div class="desktop1-frame1979">
            <div class="desktop1-frame">
              <img
                src="/playground_assets/frame19781035-r2u6.svg"
                alt="Frame19781035"
                class="desktop1-frame1978"
              />
              <div class="desktop1-frame1977">
                <span class="desktop1-text04">
                  <span>소개딩 회의 잡자!</span>
                </span>
                <div class="desktop1-frame1976">
                  <span class="desktop1-text06"><span>구성원 : 4명</span></span>
                  <span class="desktop1-text08">
                    <span>기간 : 2022.07.26 ~ 2022.08.29</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="desktop1-frame1">
              <img
                src="/playground_assets/frame1978i103-8pzm.svg"
                alt="Frame1978I103"
                class="desktop1-frame19781"
              />
              <div class="desktop1-frame19771">
                <span class="desktop1-text10"><span>This is title</span></span>
                <div class="desktop1-frame19761">
                  <span class="desktop1-text12"><span>member</span></span>
                  <span class="desktop1-text14"><span>since~until</span></span>
                </div>
              </div>
            </div>
            <div class="desktop1-frame2">
              <img
                src="/playground_assets/frame1978i103-bbj.svg"
                alt="Frame1978I103"
                class="desktop1-frame19782"
              />
              <div class="desktop1-frame19772">
                <span class="desktop1-text16"><span>This is title</span></span>
                <div class="desktop1-frame19762">
                  <span class="desktop1-text18"><span>member</span></span>
                  <span class="desktop1-text20"><span>since~until</span></span>
                </div>
              </div>
            </div>
            <div class="desktop1-frame3">
              <img
                src="/playground_assets/frame1978i103-nzds.svg"
                alt="Frame1978I103"
                class="desktop1-frame19783"
              />
              <div class="desktop1-frame19773">
                <span class="desktop1-text22"><span>This is title</span></span>
                <div class="desktop1-frame19763">
                  <span class="desktop1-text24"><span>member</span></span>
                  <span class="desktop1-text26"><span>since~until</span></span>
                </div>
              </div>
            </div>
            <div class="desktop1-frame4">
              <img
                src="/playground_assets/frame1978i103-mhu.svg"
                alt="Frame1978I103"
                class="desktop1-frame19784"
              />
              <div class="desktop1-frame19774">
                <span class="desktop1-text28"><span>This is title</span></span>
                <div class="desktop1-frame19764">
                  <span class="desktop1-text30"><span>member</span></span>
                  <span class="desktop1-text32"><span>since~until</span></span>
                </div>
              </div>
            </div>
            <div class="desktop1-frame5">
              <img
                src="/playground_assets/frame1978i103-j5cj.svg"
                alt="Frame1978I103"
                class="desktop1-frame19785"
              />
              <div class="desktop1-frame19775">
                <span class="desktop1-text34"><span>This is title</span></span>
                <div class="desktop1-frame19765">
                  <span class="desktop1-text36"><span>member</span></span>
                  <span class="desktop1-text38"><span>since~until</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          src="/playground_assets/rectangle92554-orpr-200h.png"
          alt="Rectangle92554"
          class="desktop1-rectangle9"
        />
        <img
          src="/playground_assets/rectangle122554-cqg-200h.png"
          alt="Rectangle122554"
          class="desktop1-rectangle12"
        />
        <img
          src="/playground_assets/rectangle112554-7jvt-200h.png"
          alt="Rectangle112554"
          class="desktop1-rectangle11"
        />
        <img
          src="/playground_assets/rectangle102554-a3zr-200h.png"
          alt="Rectangle102554"
          class="desktop1-rectangle10"
        />
        <span class="desktop1-text40"><span>18</span></span>
        <span class="desktop1-text42"><span>JULY</span></span>
        <span class="desktop1-text44"><span>THU</span></span>
        <img
          src="/playground_assets/rectangle132556-9-200h.png"
          alt="Rectangle132556"
          class="desktop1-rectangle13"
        />
        <div class="desktop1-nav">
          <div class="desktop1-frame1975">
            <img
              src="/playground_assets/image12262-nwhm-200h.png"
              alt="IMAGE12262"
              class="desktop1-i-m-a-g-e1"
            />
          </div>
          <div class="desktop1-frame1969">
            <div class="desktop1-frame1973">
              <span class="desktop1-text46"><span>HOME</span></span>
              <div class="desktop1-frame1974">
                <img
                  src="/playground_assets/rectangle5271015-53ra-200h.png"
                  alt="Rectangle5271015"
                  class="desktop1-rectangle527"
                />
              </div>
            </div>
            <span class="desktop1-text48"><span>내 캘린더</span></span>
            <span class="desktop1-text50"><span>만남의 광장</span></span>
          </div>
          <div class="desktop1-frame1971">
            <img
              src="/playground_assets/color2556-2avn.svg"
              alt="Color2556"
              class="desktop1-color"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  